body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-custom
{
    height: 100px;
}
.continue
{
    background-color: white;
    border: 0px;
}
.imagesslide
{
    border-radius: 1rem;
}
.oval
{
    border-radius: 10%;
}
.green
{
    color: rgb(4, 135, 4);
}
.red
{
    color: red;
}
.svgg
{
    height: 0px;
    background-color: white;
}
.pic
{
    height: 500px;
    width: 700px;
}
.pic1
{
    height: 300px;
    width: 700px;
}
.pic2
{
    height: 500px;
    width: 250px;
}